
  .cover-letter {
    padding-left: 50px; /* Add padding to the left */
    padding-right: 500px; /* Add padding to the right */
    display: flex;

  }
  
  header {
    margin-bottom: 20px;
    padding-left: 50px; /* Add padding to the left */
    padding-right: 50px; /* Add padding to the right */
    margin-top: 20px;
    display: flex;

  }
  .sec {
    margin-bottom: 20px;
    padding-left: 50px; /* Add padding to the left */
    padding-right: 50px; /* Add padding to the right */
    display: flex;
  }
  .cover {
    font-size: 18px;
    padding-left: 50px; /* Add padding to the left */
    padding-right: 50px; /* Add padding to the right */
    display: flex;
  }
